fastapi==0.109.2
uvicorn[standard]==0.27.1
sqlmodel==0.0.16
asyncpg==0.29.0
redis==5.0.1
celery==5.3.6
pydantic-settings==2.2.1
psycopg2-binary==2.9.9
beautifulsoup4==4.12.3
requests==2.31.0
langchain
langchain-community
langchain-text-splitters
langchain-openai
pgvector
sentence-transformers
pytest
httpx
streamlit
extra-streamlit-components
